USERS_PORT=4000
ORDERS_PORT=4001
CART_PORT=4002
BOOKS_PORT=4003
MONGO_URI=<mongo_url_for_database>
EMAIL=<email_id_of_admin>
PASSWORD=<app_password_generated_by_google_accounts>
SECRET_KEY=<secret_key_for_jwt_token>
SESSION_SECRET=<express_session_secret>
